{{define "getting_here"}}
<!DOCTYPE html>
<html lang="en">
{{template "header"}}

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">CBC</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#theme">Theme</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#booking">Booking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#flyer">Flyer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/getting_here">Getting here</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="getting-here">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How to get here</h2>
                    <hr class="my-4">
                </div>
            </div>

            <div class="row">
                <div class="col">

<h3>Plane</h3>

<p>The nearest airports are Girona (GRO) and Barcelona El Prat (BCN)</p>

<p>Details for both airports can be found at <a href="http://www.aena.es" target="_blank" rel="noopener noreferrer">http://www.aena.es</a></p>

<h4>Resort transfers</h4>
<p>Shared coach transfers from either airport include those offered by
<ul>
<li><a href="http://www.holidaytaxis.com" target="_blank" rel="noopener noreferrer">http://www.holidaytaxis.com</a></li>
<li><a href="http://www.hoppa.com" target="_blank" rel="noopener noreferrer">http://www.hoppa.com</a></li>
<li><a href="http://www.mozio.com" target="_blank" rel="noopener noreferrer">http://www.mozio.com</a></li>
</ul>
</p>

<h3>Buses</h3>

<p>The main public bus service is by SARFA BUSES <a href="http://compras.moventis.es/en-GB" target="_blank" rel="noopener noreferrer">http://compras.moventis.es/en-GB</a>

<li>From Barcelona Airport there are 8 direct buses a day to Tossa de Mar (2 hours journey) 
<li>From Girona Airport there are only 2 direct buses a day to Tossa de Mar (1 hour journey)
</p>

<h3>Hire car</h3>

<p>Both airports have car hire companies represented.</p>

<p>Directions to Tossa DE Mar from airports are available on the Hotel website or on the Airport website.

<li>Tossa de Mar is about 110Km from Barcelona Airport (approx. 1 hr 25 mins)</li>
<li>Tossa de Mar is about 40Km from Girona Airport (approx. 1 hr)</li></p>

<h3>Car</h3>

<p>From the north: Take exit 9 off the AP-7 motorway towards Vidreres, Lloret de Mar and Tossa de Mar, or along the N-II, exiting at Vidreres, Lloret de Mar.  There is also the option of driving towards Lloret and then Tossa or along the road to Sant Feliu and Platja d’Aro and taking the turn-off straight to Tossa through the countryside.</p>

<p>From the south: Take exit 9 off the AP-7 motorway towards Vidreres, Lloret de Mar and Tossa de Mar, and arriving in Tossa follow the above instructions.  Another option is to take the C-32 motorway and taking the last exit of Blanes Costa Brava, and along the N-II to Blanes. In this case you should continue towards Lloret de Mar and Tossa de Mar.</p>

<h3>Train</h3>

<p>From Barcelona: The RENFE commuter service to Massanet-Massanes or Blanes. Departs from Barcelona-Estació de Sants, Plaça de Catalunya, Arc de Triomf and El Clot-Aragó. You need to get off at Blanes station and continue by bus or taxi.</p>

<h3>TOURIST INFORMATION</li>

<p>
<li><a href="http://www.tossademar.com" target="_blank" rel="noopener noreferrer">http://www.tossademar.com</a></li>
<li><a href="http://www.infotossa.com" target="_blank" rel="noopener noreferrer">http://www.infotossa.com</a></li>
<li><a href="http://www.spain-holiday.com/Tossa-De-Mar" target="_blank" rel="noopener noreferrer">http://www.spain-holiday.com/Tossa-De-Mar</a></li>
</p>

<h3>GOLDEN BAHIA HOTEL</h3>

<p>
<ul>
<li><a href="http://www.goldenhotels.com/en/bahia-tossa-spa" target="_blank" rel="noopener noreferrer">http://www.goldenhotels.com</a>/en/bahia-tossa-spa</li>
</li>
</p>

</div>
</div>
</div>
</section>

    {{template "footer"}} {{template "javascript"}}
</body>

</html>
{{end}}

