{{define "index"}}
<!DOCTYPE html>
<html>
{{template "header"}} 
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Navigation &rarr;</a> <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#theme">Theme</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#booking">Booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#program">Program</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#flyer">Flyer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#getting-here">Getting here</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase"><strong>Costa Brava Convention</strong></h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="mb-3">AA International English&ndash;Speaking Convention</p>
          <p class="mb-3 text-bold">11--15 October 2023</p>
          <p class="mb-3">Tossa de Mar, Costa Brava, Spain</p><a class="btn btn-primary btn-xl js-scroll-trigger" href="#theme">Theme</a>
        </div>
      </div>
    </div>
  </header>
  
  <section class="bg-primary" id="theme">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">Theme: "Love and Service... Amor y Servicio..."</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">I am responsible... When anyone, anywhere, reaches out for help, I want the hand of AA always to be there. And for that, I am responsible</p><a class="btn btn-light btn-xl js-scroll-trigger" href="#booking">Booking</a>
        </div>
      </div>
    </div>
  </section>

  <section id="booking">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Booking details</h2>
          <hr class="my-4">
        </div>
      </div>
      <div class="row">
        <div class="card text-bg-info">
          <div class="card-header"><h2>PLEASE BE SURE TO MAKE YOUR HOTEL RESERVATIONS EARLY BY CALLING OR E-MAILING SIMON.
LAST YEAR HOTEL ROOMS WERE 'SOLD OUT' WEEKS BEFORE THE CONVENTION.</h2></div>
          <!-- <div class="card-body">
            <p class="card-text">
                  Simon will be happy to add your name to a waiting list which he is monitoring, or you may wish to 
                  make reservations at another local hotel. Local tourist information can help with that.
           </p>
          </div>
        </div> -->
      </div>
      <br />
      <div class="row">
        <div class="col">
          <dl>
            <dt></dt>
            <dd>
              <h4 class="text-uppercase">Bookings need to be made direct to Simon at the hotel</h4>
            </dd>
            <dd>Ask for Simon, and request "Costa Brava Convention" rates (special convention rate).</dd>
          </dl>
          <dl>
            <dt>Rates (all half board). Stay of 5 nights or more:</dt>
            <dd>
              <ul>
                <li>Single room €72 per night.</li>
                <li>Double room €57 per person / night.</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>Stay of less than 5 nights:</dt>
            <dd>
              <ul>
                <li>Single room €77 per night.</li>
                <li>Double room €62 per person / night.</li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dd>* Rates include Catalan Tourist tax, and water is included with dinner.</dd>
            <dd>* Supplement for full board - €12 per person per day (water also included with lunch).</dd>
          </dl>
        </div>
        <div class="col">
          <div class="card bg-light mb-3">
            <div class="card-header">
              Hotel details
            </div>
            <div class="card-body">
              <h5 class="card-title">4-Star Golden Bahia Hotel</h5>
              <h6 class="card-subtitle mb-2 text-muted">Address</h6>
              <p class="card-text"></p>
              <address>
                <strong>Golden Bahia Hotel</strong><br>
                Av. Puerto Rico 29<br>
                Tossa de Mar<br>
                Costa Brava, Spain<br>
                <abbr title="Telephone">Tel:</abbr> <a href="tel:+34972343130">+34 972-343130</a>
              </address>
              <p><a class="card-link" href="mailto:simon@goldenhotels.com">simon@goldenhotels.com</a> <a class="card-link" href="http://www.goldenhotels.com" rel="noopener noreferrer" target="_blank">www.goldenhotels.com</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
	We are happy to offer a reduced registration of 15 euros
	to local attendees who might wish to attend one or two days only.
        </div>
      </div>
    </div>
  </section>

  <section class="bg-dark text-white" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Contact Us</h2>
          <hr class="light my-4">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <dl>
            <dt></dt>
            <dd>
              <h5>Have a query? Send us an email using the following email address:</h5>
            </dd>
          </dl>
          <p class="card-text">cbc [dot] convention [at] gmail [another dot] com</p>
        </div>
      </div>
    </div>
  </section>
  
  <section id="program">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Program</h2>
          <hr class="my-4">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card">
          <div class="card-body">
          <p class="card-text">Program will be regularly updated when speakers are confirmed.</p>
          </div>
          </div>

          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th colspan="3" scope="col">Wednesday 11 October</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">13.00</th>
                <td>Registration Opens</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">21.00</th>
                <td>Welcome Meeting</td>
                <td>Pete S. (Bournemouth, UK)</td>
              </tr>
              <tr>
                <th scope="row">24.00</th>
                <td>Midnight Meeting</td>
                <td></td>
              </tr>
            </tbody>
            <thead class="thead-dark">
              <tr>
                <th colspan="3" scope="col">Thursday 12 October</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">07.00</th>
                <td>Early Bird meeting</td>
                <td>(On the beach or pool-side, weather permitting)</td>
              </tr>
              <tr>
                <th scope="row">11.00</th>
                <td>Speaker / Discussion Meeting</td>
                <td>Speaker to be confirmed.</td>
              </tr>
              <tr>
                <th scope="row">15.00</th>
                <td>Workshop "IMPROVE OUR CONSCIOUS CONTACT......."</td>
                <td>led by Roxi M and Pete S</td>
              </tr>
              <tr>
                <th scope="row">16.00</th>
                <td>Details to be confirmed</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">21.00</th>
                <td>Speaker Meeting</td>
                <td>Roxi M. (Bournemouth, UK)</td>
              </tr>
              <tr>
                <th scope="row">24.00</th>
                <td>Midnight Meeting</td>
                <td></td>
              </tr>
            </tbody>
            <thead class="thead-dark">
              <tr>
                <th colspan="3" scope="col">Friday 13 October</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">07.00</th>
                <td>Early Bird meeting</td>
                <td>(On the beach or pool-side, weather permitting)</td>
              </tr>
              <tr>
                <th scope="row">11.00</th>
                <td>Speaker / Discussion Meeting</td>
                <td>Speaker to be confirmed.</td>
              </tr>
              <tr>
                <th scope="row">14.00</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">15.00</th>
                <td>Workshop "THE JOY OF LIVING"</td>
                <td>led by Tom M</td>
              </tr>
              <tr>
                <th scope="row">16.30</th>
                <td>QUIZ</td>
                <td>Great fun - get a team of 6 together and come join us</td>
              </tr>
              <tr>
                <th scope="row">21.00</th>
                <td>Speaker Meeting</td>
                <td>Deborah B. (Pasadena, CA, USA)</td>
              </tr>
              <tr>
                <th scope="row">24.00</th>
                <td>Midnight meeting</td>
                <td></td>
              </tr>
            </tbody>
            <thead class="thead-dark">
              <tr>
                <th colspan="3" scope="col">Saturday 14 October</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">07.00</th>
                <td>Early Bird meeting</td>
                <td>(On the beach or pool-side, weather permitting)</td>
              </tr>
              <tr>
                <th scope="row">11.00</th>
                <td>Speaker / Discussion Meeting</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">14.00</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">15.00</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">16.00</th>
                <td>Quiz</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">20.45</th>
                <td>Raffle and Sobriety Countdown</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">21.00</th>
                <td>Speaker Meeting</td>
                <td>Tom M. (Wayensville, NC, USA)</td>
              </tr>
              <tr>
                <th scope="row">24.00</th>
                <td>Midnight meeting</td>
                <td></td>
              </tr>
            </tbody>
            <thead class="thead-dark">
              <tr>
                <th colspan="3" scope="col">Sunday 15 October</th>
              </tr>
            </thead>
            <tr>
              <th scope="row">07.00</th>
              <td>Early Bird</td>
              <td>(On the beach or pool-side, weather permitting)</td>
            </tr>
            <tr>
              <th scope="row">11.00</th>
              <td>Spiritual Farewell Meeting</td>
              <td></td>
            </tr>
          </table>
          <div class="card">
            <div class="card-header text-white bg-primary">
              And more...
            </div>
            <div class="card-body">
              <p class="card-text">All meeting venues, additions/changes will be posted on our bulletin board at the registration desk.</p>

                          <p class="card-text">Attendees wishing to hold smaller more intimate meetings please see a committee member and we will be happy to liaise with the hotel and make every effort to provide a meeting room</p>

			  <p class="card-text">There will be a SOBRIETY COUNTDOWN on Saturday evening</p>

			  <p class="card-text">Bring your voices (and musical instruments) for our wonderful music and sing-alongs, or as we call them -- THE HOOLEYS -- on Friday and Saturday nights, following the Speaker meeting</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-dark text-white" id="flyer">
    <div class="container text-center">
      <a class="btn btn-light btn-xl sr-button" href="static/pdf/tossa_2023_flyer.pdf">Download Flyer!</a>
    </div>
  </section>
  
  <section id="getting-here">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">How to get here</h2>
          <hr class="my-4">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Plane</h3>
          <p>The nearest airports are Girona (GRO) and Barcelona El Prat (BCN)</p>
          <p>Details for both airports can be found at <a href="http://www.aena.es" rel="noopener noreferrer" target="_blank">aena.es</a></p>
          <h4>Resort transfers</h4>
          <p>Shared coach transfers from either airport include those offered by</p>
          <ul>
            <li>
              <a href="http://www.holidaytaxis.com" rel="noopener noreferrer" target="_blank">holidaytaxis.com</a>
            </li>
            <li>
              <a href="http://www.hoppa.com" rel="noopener noreferrer" target="_blank">hoppa.com</a>
            </li>
            <li>
              <a href="http://www.mozio.com" rel="noopener noreferrer" target="_blank">mozio.com</a>
            </li>
          </ul>
          <p></p>
          <h3>Buses</h3>
          <p>The main public bus service is by SARFA BUSES <a href="http://compras.moventis.es/en-GB" rel="noopener noreferrer" target="_blank">http://compras.moventis.es/en-GB</a></p>
          <ul>
            <li>From Barcelona Airport there are 8 direct buses a day to Tossa de Mar (2 hours journey)</li>
            <li>From Girona Airport there are only 2 direct buses a day to Tossa de Mar (1 hour journey)</li>
          </ul>
          <p></p>
          <h3>Hire car</h3>
          <p>Both airports have car hire companies represented.</p>
          <p>Directions to Tossa DE Mar from airports are available on the Hotel website or on the Airport website.</p>
          <ul>
            <li>Tossa de Mar is about 110Km from Barcelona Airport (approx. 1 hr 25 mins)</li>
            <li>Tossa de Mar is about 40Km from Girona Airport (approx. 1 hr)</li>
          </ul>
          <h3>Car</h3>
          <p>From the north: Take exit 9 off the AP-7 motorway towards Vidreres, Lloret de Mar and Tossa de Mar, or along the N-II, exiting at Vidreres, Lloret de Mar. There is also the option of driving towards Lloret and then Tossa or along the road to Sant Feliu and Platja d’Aro and taking the turn-off straight to Tossa through the countryside.</p>
          <p>From the south: Take exit 9 off the AP-7 motorway towards Vidreres, Lloret de Mar and Tossa de Mar, and arriving in Tossa follow the above instructions. Another option is to take the C-32 motorway and taking the last exit of Blanes Costa Brava, and along the N-II to Blanes. In this case you should continue towards Lloret de Mar and Tossa de Mar.</p>
          <h3>Train</h3>
          <p>From Barcelona: The RENFE commuter service to Massanet-Massanes or Blanes. Departs from Barcelona-Estació de Sants, Plaça de Catalunya, Arc de Triomf and El Clot-Aragó. You need to get off at Blanes station and continue by bus or taxi.</p>
          <h3>Tourist Information</h3>
          <p></p>
          <ul>
            <li>
              <a href="http://www.tossademar.com" rel="noopener noreferrer" target="_blank">tossademar.com</a>
            </li>
            <li>
              <a href="http://www.infotossa.com" rel="noopener noreferrer" target="_blank">infotossa.com</a>
            </li>
            <li>
              <a href="http://www.spain-holiday.com/Tossa-De-Mar" rel="noopener noreferrer" target="_blank">spain-holiday.com/Tossa-De-Mar</a>
            </li>
          </ul>
          <p></p>
          <h3>Golden Bahia Hotel</h3>
          <p></p>
          <ul>
            <li>
              <a href="http://www.goldenhotels.com/en/bahia-tossa-spa/en/bahia-tossa-spa" rel="noopener noreferrer" target="_blank">goldenhotels.com/en/bahia-tossa-spa</a>
            </li>
          </ul>
          <p></p>
        </div>
      </div>
    </div>
  </section>{{template "footer"}} {{template "javascript"}}
</body>
</html>
{{end}}
