{{define "index"}}
<!DOCTYPE html>
<html lang="en">
{{template "header"}}
  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">CBC</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#theme">Theme</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#booking">Booking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#flyer">Flyer</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Costa Brava Convention</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="mb-3 text-bold">Wednesday 17th&#151;Sunday 21st, October 2018</p>
            <p class="mb-3">AA International English-Speaking Convention</p>
            <p class="mb-3">Tossa de Mar, Costa Brava, Spain</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#theme">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="theme">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Theme: "Love and Service... Amor y Servicio..."</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">I am responsible... When anyone, anywhere, reaches out for help, I want the hand of AA always to be there. And for that, I am responsible</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#booking">Booking</a>
          </div>
        </div>
      </div>
    </section>

    <section id="booking">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Booking details</h2>
            <hr class="my-4">
          </div>
        </div>

  <div class="row">
    <div class="col">

			<dl>
			<dt><h5>Bookings need to be made <b>direct to Simon at the hotel</b></h5></dt>
			<dd>Ask for Simon, and request "Costa Brava Convention" rates (special convention rate). </dd>
</dl>
<dl>
<dt>Stay of 5 nights or more:</dt>
<dd><ul><li>Single room €57 per night.</li><li>Double room €47 per person / night.</li></ul></dd>
</dl>
<dl>
<dt>Stay of less than 5 nights:</dt>
<dd><ul><li>Single room €61 per night.</li><li>Double room €51 per person / night.</li></ul></dd>
</dl>
			<dd> * All prices half-board (water included with evening meal)</dd>
			<dd> * Supplement for full board - €10 per lunch meal / person (water also included with lunch).</dd>
</dl>
</div>
    <div class="col">
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Hotel details</h5>
    <h6 class="card-subtitle mb-2 text-muted">4-Star Golden Bahia Hotel</h6>
    <p class="card-text">
			<address> <strong>Golden Bahia Hotel</strong><br> Av. Puerto Rico 29<br> Costa Brava, Spain<br> <abbr title="Telephone">Tel:</abbr> +34 972-343130 </address>
</p>
<a href="mailto:simon@goldenhotels.com" class="card-link">simon@goldenhotels.com</a>
<a href="http://www.goldenhotels.com" target="_blank" rel="noopener noreferrer" class="card-link">www.goldenhotels.com</a>
  </div>
</div>
</div>
</div>

  </div>
	  <!--
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Getting here</h3>
              <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Ready to Ship</h3>
              <p class="text-muted mb-0">You can use this booking as is, or you can make changes!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Up to Date</h3>
              <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Made with Love</h3>
              <p class="text-muted mb-0">You have to make your websites with love these days!</p>
            </div>
          </div>
        </div>
      </div>
	  -->
    </section>

    <section class="bg-dark text-white" id="flyer">
      <div class="container text-center">
        <h2 class="mb-4">Download Flyer!</h2>
        <a class="btn btn-light btn-xl sr-button" href="static/pdf/tossa_2018_flyer.pdf">Download Flyer!</a>
      </div>
    </section>

{{template "footer"}}
{{template "javascript"}}
</body>
</html>
{{end}}
