{{define "index"}}
<!DOCTYPE html>
<html lang="en">
{{template "header"}}

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">CBC</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#theme">Theme</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#booking">Booking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#flyer">Flyer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#getting-here">Getting here</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>Costa Brava Convention</strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                    <p class="mb-3 text-bold">Wednesday 17th&#151;Sunday 21st, October 2018</p>
                    <p class="mb-3">AA International English-Speaking Convention</p>
                    <p class="mb-3">Tossa de Mar, Costa Brava, Spain</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#theme">Find Out More</a>
                </div>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="theme">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading text-white">Theme: "Love and Service... Amor y Servicio..."</h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4">I am responsible... When anyone, anywhere, reaches out for help, I want the hand of AA always to be there. And for that, I am responsible</p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#booking">Booking</a>
                </div>
            </div>
        </div>
    </section>

    <section id="booking">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Booking details</h2>
                    <hr class="my-4">
                </div>
            </div>

            <div class="row">
                <div class="col">

                    <dl>
                        <dt><h5>Bookings need to be made <b>direct to Simon at the hotel</b></h5></dt>
                        <dd>Ask for Simon, and request "Costa Brava Convention" rates (special convention rate). </dd>
                    </dl>
                    <dl>
                        <dt>Stay of 5 nights or more:</dt>
                        <dd>
                            <ul>
                                <li>Single room €57 per night.</li>
                                <li>Double room €47 per person / night.</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>Stay of less than 5 nights:</dt>
                        <dd>
                            <ul>
                                <li>Single room €61 per night.</li>
                                <li>Double room €51 per person / night.</li>
                            </ul>
                        </dd>
                    </dl>
                    <dd> * All prices half-board (water included with evening meal)</dd>
                    <dd> * Supplement for full board - €10 per lunch meal / person (water also included with lunch).</dd>
                    </dl>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Hotel details</h5>
                            <h6 class="card-subtitle mb-2 text-muted">4-Star Golden Bahia Hotel</h6>
                            <p class="card-text">
                                <address> <strong>Golden Bahia Hotel</strong><br> Av. Puerto Rico 29<br> Costa Brava, Spain<br> <abbr title="Telephone">Tel:</abbr> <a href="tel:+34972343130">+34 972-343130</a> </address>
                            </p>
                            <a href="mailto:simon@goldenhotels.com" class="card-link">simon@goldenhotels.com</a>
                            <a href="http://www.goldenhotels.com" target="_blank" rel="noopener noreferrer" class="card-link">www.goldenhotels.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>
	
	<section class="bg-primary text-white" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <hr class="light my-4">
                </div>
            </div>

            <div class="row">
				<div class="col-lg-8 mx-auto">

                    <dl>
                        <dt><h5>Contact us if you have any queries</b></h5></dt>
                        <dd>Enter your email address below, and we'll send you details of how to get in touch.</dd>
                    </dl>
                    <form method="POST" action="/">
					  <div class="form-group">
						<label for="InputEmail">Email address</label>
						<input type="email" name="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
						<small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
					  </div>
					  <button type="submit" class="btn btn-light">Submit</button>
					</form>
                </div>
            </div>
	</section>

    <section class="bg-dark text-white" id="flyer">
        <div class="container text-center">
            <h2 class="mb-4">Download Flyer!</h2>
            <a class="btn btn-light btn-xl sr-button" href="static/pdf/tossa_2018_flyer.pdf">Download Flyer!</a>
        </div>
    </section>

    <section id="getting-here">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How to get here</h2>
                    <hr class="my-4">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h3>Plane</h3>
                    
                    <p>The nearest airports are Girona (GRO) and Barcelona El Prat (BCN)</p>
                    
                    <p>Details for both airports can be found at <a href="http://www.aena.es" target="_blank" rel="noopener noreferrer">http://www.aena.es</a></p>
                    
                    <h4>Resort transfers</h4>
                    <p>Shared coach transfers from either airport include those offered by
                    <ul>
                    <li><a href="http://www.holidaytaxis.com" target="_blank" rel="noopener noreferrer">http://www.holidaytaxis.com</a></li>
                    <li><a href="http://www.hoppa.com" target="_blank" rel="noopener noreferrer">http://www.hoppa.com</a></li>
                    <li><a href="http://www.mozio.com" target="_blank" rel="noopener noreferrer">http://www.mozio.com</a></li>
                    </ul>
                    </p>
                    
                    <h3>Buses</h3>
                    
                    <p>The main public bus service is by SARFA BUSES <a href="http://compras.moventis.es/en-GB" target="_blank" rel="noopener noreferrer">http://compras.moventis.es/en-GB</a>
                    
                    <ul>
                    <li>From Barcelona Airport there are 8 direct buses a day to Tossa de Mar (2 hours journey) 
                    <li>From Girona Airport there are only 2 direct buses a day to Tossa de Mar (1 hour journey)
                    </ul>
                    </p>
                    
                    <h3>Hire car</h3>
                    
                    <p>Both airports have car hire companies represented.</p>
                    
                    <p>Directions to Tossa DE Mar from airports are available on the Hotel website or on the Airport website.
                    
                    <ul>
                    <li>Tossa de Mar is about 110Km from Barcelona Airport (approx. 1 hr 25 mins)</li>
                    <li>Tossa de Mar is about 40Km from Girona Airport (approx. 1 hr)</li></p>
                    </ul>
                    
                    <h3>Car</h3>
                    
                    <p>From the north: Take exit 9 off the AP-7 motorway towards Vidreres, Lloret de Mar and Tossa de Mar, or along the N-II, exiting at Vidreres, Lloret de Mar.  There is also the option of driving towards Lloret and then Tossa or along the road to Sant Feliu and Platja d’Aro and taking the turn-off straight to Tossa through the countryside.</p>
                    
                    <p>From the south: Take exit 9 off the AP-7 motorway towards Vidreres, Lloret de Mar and Tossa de Mar, and arriving in Tossa follow the above instructions.  Another option is to take the C-32 motorway and taking the last exit of Blanes Costa Brava, and along the N-II to Blanes. In this case you should continue towards Lloret de Mar and Tossa de Mar.</p>
                    
                    <h3>Train</h3>
                    
                    <p>From Barcelona: The RENFE commuter service to Massanet-Massanes or Blanes. Departs from Barcelona-Estació de Sants, Plaça de Catalunya, Arc de Triomf and El Clot-Aragó. You need to get off at Blanes station and continue by bus or taxi.</p>
                    
                    <h3>Tourist Information</h3>
                    
                    <p>
                    <ul>
                    <li><a href="http://www.tossademar.com" target="_blank" rel="noopener noreferrer">http://www.tossademar.com</a></li>
                    <li><a href="http://www.infotossa.com" target="_blank" rel="noopener noreferrer">http://www.infotossa.com</a></li>
                    <li><a href="http://www.spain-holiday.com/Tossa-De-Mar" target="_blank" rel="noopener noreferrer">http://www.spain-holiday.com/Tossa-De-Mar</a></li>
                    </ul>
                    </p>
                    
                    <h3>Golden Bahia Hotel</h3>
                    
                    <p>
                    <ul>
                    <li><a href="http://www.goldenhotels.com/en/bahia-tossa-spa/en/bahia-tossa-spa" target="_blank" rel="noopener noreferrer">http://www.goldenhotels.com/en/bahia-tossa-spa</a></li>
                    </li>
                    </ul>
                    </p>
                    
				</div>
			</div>
		</div>
	</section>
{{template "footer"}} {{template "javascript"}}
</body>
</html>
{{end}}
